// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.restaurant-image {
    max-height: 400px;
}

.restaurant-image2 {
    max-height: 150px;
}

footer {
    background-color: #1f1f1f;
    padding: 20px;
    margin-top: 50px;
}